.card-header:first-child {
    border-radius: calc(.25rem - .0625rem) calc(.25rem - .0625rem) 0 0;
}
  

.section-shaped .shape {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.bg-gradient-default {
    background: linear-gradient(87deg,#172b4d 0,#1a174d 100%)!important;
}
.bg-white {
    background-color: #fff!important;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: #f6f9fc;
    border-bottom: .0625rem solid rgba(0,0,0,.05);
}
.btn-neutral {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn {
    position: relative;
    text-transform: uppercase;
    transition: all .15s ease;
    will-change: transform;
    letter-spacing: .025em;
    font-size: .875rem;
}
a.btn.btn-neutral.btn-icon.mr-4 {
    color: #2757b0;
}
a.btn.btn-neutral.btn-icon {
    color: #2757b0;
}
.card {
    position: relative;
}
[class*=shadow] {
    transition: all .15s ease;
}
.profile-page .card-profile .card-profile-image img, .shadow {
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}
.bg-secondary {
    background-color: #f4f5f7!important;
}
body {
    margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #fff;
}
.section-shaped .shape-style-1 :nth-child(1) {
    left: -4%;
    bottom: auto;
    background: rgba(255,255,255,.1);
}.section-shaped .shape-style-1 span {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.section-shaped .shape span {
    position: absolute;
}

.section-shaped .shape-style-1 :nth-child(2) {
    right: 4%;
    top: 10%;
    background: rgba(255,255,255,.1);
}

.section-shaped .shape-style-1 span {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.section-shaped .shape-style-1 :nth-child(3) {
    top: 280px;
    right: 5.66666%;
    background: rgba(255,255,255,.3);
}
.section-shaped .shape-style-1 :nth-child(4) {
    top: 320px;
    right: 7%;
    background: rgba(255,255,255,.15);
}
.section-shaped .shape-style-1 :nth-child(5) {
    top: 38%;
    left: 1%;
    right: auto;
    background: rgba(255,255,255,.05);
}
.section-shaped .shape-style-1 :nth-child(6) {
    width: 200px;
    height: 200px;
    top: 44%;
    left: 10%;
    right: auto;
    background: rgba(255,255,255,.15);
}
.section-shaped .shape-style-1 :nth-child(7) {
    bottom: 50%;
    right: 36%;
    background: rgba(255,255,255,.04);
}
.section-shaped .shape-style-1 :nth-child(8) {
    bottom: 70px;
    right: 2%;
    background: rgba(255,255,255,.2);
}