.btnConfirm{
    color: #fff;
    background-color: #1d9292;
    border: none;
    padding: 5px;
    font-weight: 100;
    border-radius: 2px;
    width: 90px;
}
.btnCancel{
    background: #ec4f4f;
    padding: 3px;
    float: right;
    margin-left: 94px;
    border: none;
    color: white;
    border-radius: 2px;
    font-weight: 100;
    width: 90px;
}
.divtercondition{
    width: 400px;
}

